.connectSocial {
  padding: 0.4rem 2rem;
  text-align: center;
}

.social-icon {
  margin:0.5rem;
}



.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-itm {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}
.container-fluid {
  background-color: #F0170F;
  color: blue;
}

/* pizzaRow */

.flexbox-item {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  background-color: #77F00F;
  width: 20rem;
  height: 18rem;
  margin: 3px;
}

.flexbox-item form {
  max-width: 100%;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  overflow: inherit;

}

/* .option-control {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.row {
  text-align: center;
}

/* Brief history */

.brief-history {
  background-color: #0FE8F0;
  text-align: center;
  padding:10px;
  font-family: fantasy;
  font-weight: 400;
}

.heading-brief-history {
  font-weight: 500;
}

/* footer */
footer {
  background: #880FF0;
  padding:1rem;
}
