.connectSocial {
  padding: 0.4rem 2rem;
  text-align: center;
}

.social-icon {
  margin: 0.5rem;
}

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.chefLogo {
  max-width: 7rem;
  max-height: 7rem;
}

.nav-itm {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

.container-fluid {
  background-color: #F0170F;
  color: blue;
}

/* pizzaRow */
.flexbox-item {

  justify-content: center;
  /* align-items: center; */
  background-color: #77F00F;
  width: 20rem;
  height: 18rem;
  margin: 3px;
}

.flexbox-item form {
  max-width: 100%;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  overflow: inherit;
}

.row {
  text-align: center;
}

/* Brief history */
.brief-history {
  background-color: #0FE8F0;
  margin: 30px;
  text-align: center;
  padding: 10px;
  font-family: fantasy;
  font-weight: 300;
}

.heading-brief-history {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.historySize {
  font-size: 2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* answerRow */
.answerRow {
  margin: 30px 50;
  padding: 20px;
  background-color: #42E2B8;
  font-family: fantasy;
  text-align: center;
  font-size: 2rem;
}

/* footer */
footer {
  background: #000001;
  padding: 1rem;
}
